*.c
*.cpp
*.egg
*.gz
*.nix
*.py[cod]
*.so
*.stackdump
*~
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.pyodide-xbuildenv-*
/.pytest_cache
/.python-version
*.egg-info
*.pyc
*.pyo
.DS_Store
/.python-version
/ChangeLog-spell-corrected
/Timed_Threads.egg-info
/.pyodide-xbuildenv*
/.python-version
/ChangeLog
/ChangeLog.orig
/ChangeLog.rej
__pycache__/
build/
dist/
tmp
